<!DOCTYPE html>
<html>
  <head>
    <%- include('../part/head.ejs'); %>
  </head>
  <body>
    <header><%- include('../part/header'); %></header>
    <div class="container my-4">
      <h3>Edit Data</h3>
      <p class="border-4 border-top w-25"></p>
      <div class="row">
        <div class="col-10 col-md-6">
          <label for="nama" class="form-label">Nama</label>
          <div class="input-group mb-4">
            <input
              type="text"
              id="nama"
              class="form-control"
              placeholder="Ahmad"
              aria-label="Nama"
              aria-describedby="basic-addon1"
            />
          </div>
          <label for="nik" class="form-label">NIK</label>
          <div class="input-group mb-4">
            <input
              type="text"
              id="nik"
              class="form-control"
              aria-label="nik"
              aria-describedby="basic-addon1"
              onkeypress="return onlyNumberKey(event)"
              maxlength="16"
            />
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Laki-laki</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Perempuan</label>
          </div>
          <p><span></span></p>
          <label for="tanggal" class="form-label">Tanggal Lahir</label>
          <div class="input-group mb-4">
            <input
              type="date"
              id="tanggal"
              class="form-control"
              aria-label="tanggal"
              aria-describedby="basic-addon1"
            />
          </div>
          <label for="agama" class="form-label">Agama</label>
          <div class="input-group mb-4">
            <input
              type="text"
              id="agama"
              class="form-control"
              aria-label="agama"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col-10 col-md-6">
          <label for="pendidikan" class="form-label">Pendidikan</label>
          <div class="input-group mb-4">
            <input
              type="text"
              id="pendidikan"
              class="form-control"
              placeholder="S1"
              aria-label="pendidikan"
              aria-describedby="basic-addon1"
            />
          </div>
          <label for="pekerjaan" class="form-label">Pekerjaan</label>
          <div class="input-group mb-4">
            <input
              type="text"
              id="pekerjaan"
              class="form-control"
              placeholder="PNS"
              aria-label="pekerjaan"
              aria-describedby="basic-addon1"
            />
          </div>
          <p class="mb-5"><span></span></p>
          <br />
          <label for="namaAyah" class="form-label">Nama Ayah</label>
          <div class="input-group mb-4">
            <input
              type="text"
              id="namaAyah"
              class="form-control"
              placeholder="Ahmed"
              aria-label="NamaAyah"
              aria-describedby="basic-addon1"
            />
          </div>
          <label for="namaIbu" class="form-label">Nama Ibu</label>
          <div class="input-group mb-4">
            <input
              type="text"
              id="namaIbu"
              class="form-control"
              placeholder="Santi"
              aria-label="NamaIbu"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
    </div>
    <footer><%- include('../part/footer'); %></footer>
  </body>
</html>
